<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title><%= title || 'My App' %></title>
  <%- include('../partials/header') %>
</head>
<body>
  <main>
    <%- body %>
  </main>
  <%- include('../partials/footer') %>
</body>
</html>
