<h1>Dashboard</h1>
<p>Income: <%= income %> | Expenses: <%= expenses %> | Balance: <%= balance %></p>
<a href="/transactions">View Transactions</a>
<a href="/transactions/new">Add Transaction</a>
<a href="/goals">View Goals</a>
<a href="/goals/new">Add Goal</a>
