<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Goals</title>
</head>
<body>
  <h1>All Goals</h1>
  <ul>
    <% goals.forEach(goal => { %>
       <li>
      <strong><%= goal.name %></strong> - Target: $<%= goal.targetAmount %> - Deadline: <%= goal.deadline.toDateString() %> - Progress: <%= goal.progress %>%
    </li>
    <% }) %>
  </ul>
  <a href="/goals/new">Create New Goal</a>
</body>
</html>
